API_ID=31576834
API_HASH=ad6503561fd24c4161fecbef2d17e1c3
BOT_TOKEN=8857311670:AAHC89KJO399SGZ3z6OYzwM-N3MmS8FWobE
SESSION=watcher_session
LOG_LEVEL=INFO

# Для деплоя на облачные сервисы (Render, Railway и др.)
PORT=8080
PING_INTERVAL=300  # Интервал само-пинга в секундах (300 = 5 минут)
